<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/games.css">
    <title>Game Rock Paper and Scissors</title>
</head>
<body>
    <a href="#" class="back"> < </a>
    <img src="/assets/logo.jpg" class="logo">
    <p class="title">Rock Paper Scissors</p>
    <p class="player">Player</p>
    <p class="com">COM</p>
    <img id="rockplayer" src="/assets/batu.png" class="batu1" onclick="selectPlayer(0)">
    <img id="rockcom" src="/assets/batu.png" class="batu2">
    <img id="paperplayer" src="/assets/kertas.png" class="kertas1" onclick="selectPlayer(1)">
    <p id="result" class="text">VS</p>
    <img id="papercom" src="/assets/kertas.png" class="kertas2">
    <img id="scissorplayer" src="/assets/gunting.png" class="gunting1" onclick="selectPlayer(2)">
    <img id="scissorcom" src="/assets/gunting.png" class="gunting2">
    <img id="refresh" src="/assets/refresh.png" class="refresh">
    <script src="/script/script.js"></script>
</body>
</html>